body {
    background: #f9e933;
    font-family: 'Droid Sans', serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: red;
}

h1, h2, h3, h4 {
    font-family: Ubuntu, serif;
    font-size: 120%;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    min-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
    margin-bottom: 3px;
    padding: 10px;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: white;
    padding: 20px;
}

main .tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}

footer {
    overflow: auto;
    padding: 10px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}